<h1>Rent a Bike</h1>


<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  
  <script>

  $(document).ready(function() {
    $("#datepicker").datepicker();
  });
  </script>
</head>

<body>
  
  <% if @rent.name == "JUNIOR - Apollo Recall Junior Mountain Bike - 24" %>
        <%= link_to 'about' %>
  <% end %>
    
  <form action="/items">

Pick Up:<br>
<form>
    <input id="datepicker" />
    
Total days:<br>
<input type="text" days="totaldays">
<br><br>

Total Price:<br>
<input type="text" price="price">
<br><br>

<input type="submit" value="items">
</form>
    
    

</body>
</html>